{% extends 'shop/base.html' %}
{% block content %}
{% load static %}
<body>
<header>
<div>
    <title class="main-nav">{{title}}</title>
</div>
    <head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Шаблон для мого магазину</title>

	<!-- Bootstrap reboot (для сброса стилей) -->
	<link rel="stylesheet" href="libs/bootstrap-reboot.min.css">

	<!-- Bootstrap сетка -->
	<link rel="stylesheet" href="libs/bootstrap-grid.min.css">

	<!-- Шрифты с Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

	<!-- Стили сайта -->
	<link type="text/css" href="{% static 'shop/css/web.css' %}" rel="stylesheet" />
</head>
<body>

   <!--/.image-- <div class="container mt-5">-->
        {% for g in goods %}
        <div class="row">
            <div class="col-md-4">
                <div class="product">
                    <div class="image">
                        <li><img src="http://placehold.it/300x300" alt=""></li>
                    </div>
                     <!--/.image-->

                    <div class="info">
                        <h3>{{g.name}}</h3>
                        <p>{{g.description}}</p>

                         <ul class="rating">
                            <li><ion-icon name="star"></ion-icon></li>
                            <li><ion-icon name="star"></ion-icon></li>
                            <li><ion-icon name="star"></ion-icon></li>
                            <li><ion-icon name="star"></ion-icon></li>
                            <li><ion-icon name="star-half"></ion-icon></li>
                        </ul>
                        <!--/.rating-->
                    </div>

                        <div class="info-price">
                            <span class="price">{{g.price}}<small>₴</small></span>
                            <button class="add-to-card"><ion-icon name="cart-outline"></ion-icon></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
{% endfor %}
</body>
</html>
<!--<nav>
    <ul class="main-nav">
    {% for g in goods %}
    <li class="nav-itm">
        <h1>{{g.name}}</h1>
        <p>{{g.description}}</p>
            {{g.price}}
        <hr>
    </li>
    {% endfor %}
-->
</ul>
</nav>
    <input type="search">
</header>
</body>

{% endblock %}